# Django
#

*.pyc
__pycache__/
.env

# Virtual Environment
venv/

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Database
db.sqlite3db.sqlite3

# Ignore editor swap and backup files
*.swp
serializers_BACKUP_*.py
serializers_BASE_*.py
serializers_LOCAL_*.py
serializers_REMOTE_*.py

# Ignore SQLite DB file
db.sqlite3
